#Contract
contracts/node_modules
contracts/.env
contracts/coverage
contracts/coverage.json
contracts/typechain
contracts/typechain-types
contracts/cache
contracts/artifacts

#Subgraph
subgraph/node_modules
subgraph/build
subgraph/generated

#Interface
interface/node_modules
interface/.env
interface/.vercel